<head>
    {{ if .IsHome }}
    {{ else }}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement":
            [
                {{ partial "breadcrumblist" . | safeJS }}
            ]
        }
    </script>
    {{ end }}
</head>

<h2>Title of page: {{ .Title }}</h2>

<h4>See output in head:</h4>
 head -> script type="application/ld+json"

{{ .Content }}


<h4>Non-formated output (scroll down if you dont see):</h4>
<pre>{{ partial "breadcrumblist" . }}</pre>
