{{ $scratch := newScratch }}

{{ $relUrl := replace (.Permalink | strings.TrimSuffix "/") (printf "%s" .Site.BaseURL) "" }}

{{ $scratch.Set "path" .Site.BaseURL }}
{{ $scratch.Set "position" 1 }}
{{ $scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" ($scratch.Get "position") )) }}

{{ range split $relUrl "/" }}
    {{ $scratch.Add "path" . }}
    {{ $scratch.Add "path" "/" }}
    {{ if ne . "" }}
    {{ $scratch.Add "position" 1 }}
    {{ $page := $.Site.GetPage ($scratch.Get "path" | relURL | strings.TrimSuffix "/") }}
    {{ $scratch.Add "breadcrumb" (slice (dict "url" ($scratch.Get "path") "name" $page.Title "position" ($scratch.Get "position"))) }}
    {{ end }}
{{ end }}

{{ .Aliases }}

{{ range $scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
    "@type": "ListItem",
    "position": {{ .position }},
    "item": 
    {
        "@id": "{{.url}}",
        "name": "{{ .name }}"
    }       
}{{ end }}